<% cache("ytd-leaderboard", expires_in: (6).hours) do %>
  <div class="col s2 center" id="leaders-ytd">
    <br><br>
    <%= image_tag(@presenter.stat_leaders.first.user.profile_picture, class: "circle profile-pic") %>
    <br>
    <%= @presenter.stat_leaders.first.user.name %>
    <div class="card background-color">
      <div class="card-content">
        <span class="card-title">Year to Date<br>Mileage Leaders</span>
        <hr>
        <% @presenter.stat_leaders.each do |leader| %>
        <p>
          <div style="font-size: 1.3em;"><%= leader.user.name %></div>
          <i class="tiny material-icons">trending_flat</i>
          <%= number_with_delimiter(leader.ytd_mileage) %> miles
          <br>
          <i class="tiny material-icons">query_builder</i>
          <%= number_with_delimiter(leader.ytd_sessions) %> sessions
          <br>
          <i class="tiny material-icons">query_builder</i>
          <%= number_with_delimiter(leader.ytd_duration) %>
          <br>
          <i class="tiny material-icons">navigation</i>
          <%= number_with_delimiter(leader.ytd_elevation) %> ft
        </p>
        <hr>
        <% end %>
      </div>
    </div> 
  </div>
<% end %>