<table class="bordered highlight centered responsive-table font-color font-outline">
  <h4 class="titillium center black-text grey-shadow">Trails Near You
  <thead>
    <tr>
        <th data-field="Name">Name</th>
        <th data-field="Distance">Distance</th>
        <th data-field="Location">Location</th>
        <th data-field="Details">Details</th>
        <th data-field="Directions">Directions</th>

    </tr>
  </thead>

  <tbody>
    <% @trail_service.trails(current_user).each do |trail| %>
      <tr>
        <td><%= @trail_service.name(trail) %></td> 
        <td><%= @trail_service.distance(trail) %></td> 
        <td><%= @trail_service.city(trail) %>, <%= @trail_service.state(trail) %></td>
        <td>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Description</div>
              <div class="collapsible-body"><p><%= @trail_service.description(trail) %></p></div>
            </li>
        </td>
        <td>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Directions</div>
              <div class="collapsible-body"><p><%= @trail_service.directions(trail) %></p></div>
            </li>
          </ul>
        </td>
      </tr>
          <!-- <td><%#= link_to("Details", trail_path({name: @trail_service.name(trail), -->
                                               city: @trail_service.city(trail),
                                               state: @trail_service.state(trail)}
                                             <!-- )) %> -->
      
    <% end %> 
  </tbody>
</table>