<%= render partial: "/navbar/navbar" %> 
<div class="row background-color">
  <div class="col s2 center">
    <br><br>
    <%= image_tag(current_user.profile_picture, class: "circle profile-pic") %>
    <br>
    <%= current_user.name %>

      <div class="card background-color">
        <div class="card-content">
          <span class="card-title">Year to Date</span>
          <hr>
          <p><i class="tiny material-icons">trending_flat</i> <%= number_with_delimiter(@stats.distance("ytd")) %> miles</p>
          <p><i class="tiny material-icons">query_builder</i> <%= @stats.sessions("ytd") %> sessions</p>
          <p><i class="tiny material-icons">query_builder</i> <%= number_with_delimiter(@stats.duration("ytd")) %></p>
          <p><i class="tiny material-icons">navigation</i> <%= number_with_delimiter(@stats.elevation_gain("ytd").to_i) %> ft gain</p>
        </div>
      </div>

    <div class="card background-color">
      <div class="card-content">
      <span class="card-title">Elite Runner</span>
      <hr>
      <%= form_tag(workouts_path, method: "get") do %>
        <%= radio_button_tag(:elite, "Anton") %>
        <%= label_tag(:elite_Anton, "Anton Krupicka") %>
        <%= radio_button_tag(:elite, "Killian") %>
        <%= label_tag(:elite_Killian, "Killian Jornet") %>
        <%= radio_button_tag(:elite, "Jenn") %>
        <%= label_tag(:elite_Jenn, "Jenn Shelton") %>
        <br><br>
        <%= submit_tag("Calculate")%>
      <% end %>
      </div>
    </div>

  </div>

  <div class="col s8 custom-padding">
    <h4 class="titillium center black-text grey-shadow">Upcoming Races</h4>
    <p class="center"><%= link_to("Add a Race", new_user_race_path) %></p> 
    <table class="bordered highlight centered responsive-table font-color font-outline">
      <thead>
        <tr>
            <th data-field="Date">Date</th>
            <th data-field="Title">Title</th>
            <th data-field="Distance">Distance</th>
            <th data-field="Target">Target Time</th>
            <th data-field="Location">Location</th>
            <th data-field="Time">Start Time</th>
            <th data-field="Edit">Update</th>
        </tr>
      </thead>

      <tbody>
        <% @upcoming_races.each do |race| %>
          <tr>
            <td><%= race.date %></td> 
            <td><%= race.title %></td> 
            <td><%= race.distance %></td> 
            <td><%= race.target_time %> mi</td>  
            <td><%= race.location %></td>
            <td><%= race.start_time %></td>
            <td><%= link_to("edit", edit_user_race_path(race.id), class: "edit-button") %>/<%=link_to("remove", user_race_path(race.id), method: :delete, class: "remove-button") %></td>
          </tr>
        <% end %> 
      </tbody>
    </table>





  </div>

  <div class="col s2 center">
    <br><br>
    <%= image_tag(current_user.profile_picture, class: "circle profile-pic") %>
    <br>
    <%= current_user.name %>

      <div class="card background-color">
        <div class="card-content">
          <span class="card-title">Year to Date</span>
          <hr>
          <p><i class="tiny material-icons">trending_flat</i> <%= number_with_delimiter(@stats.distance("ytd")) %> miles</p>
          <p><i class="tiny material-icons">query_builder</i> <%= @stats.sessions("ytd") %> sessions</p>
          <p><i class="tiny material-icons">query_builder</i> <%= number_with_delimiter(@stats.duration("ytd")) %></p>
          <p><i class="tiny material-icons">navigation</i> <%= number_with_delimiter(@stats.elevation_gain("ytd").to_i) %> ft gain</p>
        </div>
      </div>

    <div class="card background-color">
      <div class="card-content">
      <span class="card-title">Running Tip</span>
      <hr>

      </div>
    </div>

  </div>
</div>



