<h1>You did it!</h1>
<%= current_user.name %>
<%= current_user.email %>
<%= image_tag(current_user.profile_picture) %>
<%= link_to "Logout", logout_path, method: :delete %>

<% @activities.list_athlete_activities.each do |activity| %>
  <%= @activities.name(activity) %> 
  <%= @activities.type(activity) %> 
  <%= @activities.start_date(activity) %> 
  <%= @activities.distance(activity) %>
  <%= @activities.duration(activity) %>
  <%= @activities.total_elevation_gain(activity) %>  
  <%= @activities.elev_high(activity) %>
  <%= @activities.elev_low(activity) %>
  <%= @activities.total_elevation_gain(activity) %>
  <%= @activities.total_elevation_gain(activity) %>
  <%= @activities.total_elevation_gain(activity) %>
<% end %> 
