<%= javascript_tag do %>
  function trailMap() {
    
    var map_options = {
      center: new google.maps.LatLng(<%= @service.midpoint_latitude(@activity) %>, <%= @service.midpoint_longitude(@activity) %>),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      panControl: false,
      mapTypeControl: false,
      zoomControlOptions: { position: google.maps.ControlPosition.LEFT_CENTER }
    };
     
    var map = new google.maps.Map(document.getElementById("google-map"), map_options);

    var startMarker = new google.maps.Marker({
      position: { lat: <%= @service.start_latitude(@activity) %>, 
                  lng: <%= @service.start_longitude(@activity) %> },
      map: map,
      label: "+"
    });

    var poly = new google.maps.Polyline({
      geodesic: true,
      strokeColor: "#EB7001",
      strokeWeight: 4,
      map: map
    });

    var path = <%= @service.polyline(@activity).to_json.html_safe %>;

    poly.setPath(path);
  };
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc2JdFlUn8iGRg0wvRVHw78wpJvo0hFuM&callback=trailMap"
async defer></script>

<div class="center background-color" style="margin-bottom: 100px;">
  <div id="google-map" style="width: 90%; height: 80%; position: absolute; left: 5%; top: 10%;"></div>
</div>

<div class="space"></div>