<%= javascript_tag do %>
  function trailMap() {
    
    var map_options = {
      center: new google.maps.LatLng(<%= @presenter.midpoint_latitude(@presenter.activity) %>, <%= @presenter.midpoint_longitude(@presenter.activity) %>),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      panControl: false,
      mapTypeControl: false,
      zoomControlOptions: { position: google.maps.ControlPosition.LEFT_CENTER }
    };
     
    var map = new google.maps.Map(document.getElementById("google-map"), map_options);

    var startMarker = new google.maps.Marker({
      position: { lat: <%= @presenter.start_latitude(@presenter.activity) %>, 
                  lng: <%= @presenter.start_longitude(@presenter.activity) %> },
      map: map,
      label: "+"
    });

    var poly = new google.maps.Polyline({
      geodesic: true,
      strokeColor: "#EB7001",
      strokeWeight: 4,
      map: map
    });

    var path = <%= @presenter.polyline(@presenter.activity).to_json.html_safe %>;

    poly.setPath(path);
  };
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&callback=trailMap"
async defer></script>

<div class="card center background-color" style="margin: 20px 100px; height: 650px;">
  <div id="google-map" style="width: 90%; height: 500px; position: absolute; left: 5%; top: 10%;"></div>
</div>

<div class="space"></div>