
  <h5 class="center"><%= @presenter.name(@presenter.activity) %> </h5>
  <table class="bordered highlight centered responsive-table font-color font-outline">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Distance">Distance</th>
          <th data-field="Duration">Duration</th>
          <th data-field="Pace">Pace</th>
          <th data-field="Elevation-Gain">Elevation Gain</th>
          <th data-field="Elevation-Max">Max Elevation</th>
          <th data-field="Time">Start Time</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @presenter.start_date(@presenter.activity) %></td> 
        <td><%= @presenter.distance(@presenter.activity) %> mi</td>  
        <td><%= @presenter.duration(@presenter.activity) %></td>
        <td><%= @presenter.average_pace(@presenter.activity) %></td>
        <td><%= @presenter.total_elevation_gain(@presenter.activity) %></td> 
        <td><%= @presenter.elev_high(@presenter.activity) %></td> 
        <td><%= @presenter.start_time(@presenter.activity) %></td> 
      </tr> 
    </tbody>
  </table>