<%= render partial: "/navbar/navbar" %> 

<div class="container">
  <table class="bordered highlight centered responsive-table font-color font-outline">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Time">Start Time</th>
          <th data-field="Title">Title</th>
          <th data-field="Distance">Distance</th>
          <th data-field="Duration">Duration</th>
          <th data-field="Pace">Pace</th>
          <th data-field="Difficulty">Difficulty</th>
          <th data-field="Details">View Details</th>
      </tr>
    </thead>

    <tbody>
      <% @activities.list_athlete_activities.each do |activity| %>
        <tr class="clickable-row" data-href="<%= workout_path(activity["id"]) %>">
          <td><%= @activities.start_date(activity) %></td> 
          <td><%= @activities.start_time(activity) %></td> 
          <td><%= @activities.name(activity) %></td> 
          <td><%= @activities.distance(activity) %> mi</td>  
          <td><%= @activities.duration(activity) %></td>
          <td><%= @activities.average_pace(activity) %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>