<%= render partial: "/navbar/navbar" %> 
  
  <div class="row background-color">
    <%= render partial: "show_left" %> 
    
    <div class="col s10 custom-padding">
      <h3 class="titillium center">Morning Run</h3>
      <%= render partial: "workout_difficulty" %>
      <h4 class="titillium center">Snapshot</h4>

      <%= render partial: "workout_snapshot" %> 
      
        <%= render partial: "map" %>
    </div>
  </div>

