<%= render partial: "/navbar/navbar" %> 

<h5 class="center">Snapshot</h5>
<div class="container">
  <table class="bordered highlight centered responsive-table font-color font-outline">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Time">Start Time</th>
          <th data-field="Title">Title</th>
          <th data-field="Distance">Distance</th>
          <th data-field="Duration">Duration</th>
          <th data-field="Pace">Pace</th>
          <th data-field="Difficulty">Difficulty</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @service.start_date(@activity) %></td> 
        <td><%= @service.start_time(@activity) %></td> 
        <td><%= @service.name(@activity) %></td> 
        <td><%= @service.distance(@activity) %> mi</td>  
        <td><%= @service.duration(@activity) %></td>
        <td><%= @service.average_pace(@activity) %></td>
        <td>DIFFICULTY</td>
      </tr> 
    </tbody>
  </table>





<hr>


<h5 class="center">Ratings</h5>





<table class="bordered highlight centered responsive-table font-color font-outline">
  <thead>
    <tr>
        <th data-field="Name">Name</th>
        <th data-field="Type">Type</th>
        <th data-field="Start-Date">Start Date</th>
        <th data-field="Distance">Distance</th>
        <th data-field="Duration">Duration</th>
        <th data-field="Elapsed-Tme">Elapsed Time</th>
        <th data-field="Total-Elelvation-Gain">Total Elevation Gain</th>
        <th data-field="Max-Elevation">Max Elevation</th>
        <th data-field="Min-Elevation">Min Elevation</th>
        <th data-field="Average-Heartrate">Average Heartrate</th>
        <th data-field="Max-Heartrate">Max Heartrate</th>
        <th data-field="Average-Speed">Average Speed</th>
        <th data-field="Max-Speed">Max Speed</th>
        <th data-field="Starting-Location">Starting Location</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @service.name(@activity) %></td> 
        <td><%= @service.type(@activity) %></td> 
        <td><%= @service.start_date(@activity) %></td>  
        <td><%= @service.distance(@activity) %></td> 
        <td><%= @service.duration(@activity) %></td> 
        <td><%= @service.elapsed_time(@activity) %></td> 
        <td><%= @service.total_elevation_gain(@activity) %></td>   
        <td><%= @service.elev_high(@activity) %></td> 
        <td><%= @service.elev_low(@activity) %></td> 
        <td><%= @service.average_heartrate(@activity) %></td> 
        <td><%= @service.max_heartrate(@activity) %></td> 
        <td><%= @service.average_speed(@activity) %></td> 
        <td><%= @service.max_speed(@activity) %></td> 
        <td><%= @service.start_location(@activity) %></td> 
      </tr>
  </tbody>
</table>