<!-- <%# cache "trail-#{@trail_service.name(@trail)}" do %>
  <table class="bordered highlight centered responsive-table font-color font-outline">
    <h4 class="titillium center black-text grey-shadow"><%= @trail_service.name(@trail) %> 
    <thead>
      <tr>
          <th data-field="Name">Name</th>
          <th data-field="Distance">Distance</th>
          <th data-field="Type">Type</th>
          <th data-field="City">City</th>
          <th data-field="State">State</th>
          <th data-field="Rating">Rating</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <%#= binding.pry %> 
        <td><%= @trail_service.name(@trail) %></td> 
        <td><%= @trail_service.distance(@trail) %></td> 
        <td><%= @trail_service.type(@trail) %></td> 
        <td><%= @trail_service.city(@trail) %></td> 
        <td><%= @trail_service.state(@trail) %></td> 
        <td><%= @trail_service.rating(@trail) %></td> 
        </td>
      </tr>
    </tbody>
  </table>
   
   <div class="card background-color">
     <div class="card-content">
      <span class="card-title">Description</span>
      <hr>
      <%= @trail_service.description(@trail) %> 
    </div>
   </div>


  <%= @trail_service.directions(@trail) %> 
<%# end %>  -->
