<div class="anton">
  <div class="row white-text opaque">
    <div class="col s12 m4 offset-m7">
      <%= form_for @user_race do |f| %>
        
        <%= f.label :date %> 
        <%= f.date_field :date %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :distance %>
        <%= f.number_field :distance, step: 0.1 %>

        <%= f.label :target_time %>
        <%= f.text_field :target_time %>

        <%= f.label :location %>
        <%= f.text_field :location %>

        <%= f.label :start_time %>
        <%= f.text_field :start_time %>

        <%= f.submit "#{type} Race" , class: "center btn" %>

      <% end %>
    </div>
  </div>
</div>