<!DOCTYPE html>
<html>
  <head>
    <title>PAINCAVER</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Titillium Font -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:700italic' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'paincaver-favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="card">
          <p><center><%= content_tag :div, msg.html_safe %></center></p>
        </div>
      <% end %>
    </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
